.feature {
  background-color: rgba(238, 199, 27, 0.6);
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
}



a {
  margin-bottom: 20px;
  margin-left: 50px;
}
